@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgb(33, 33, 33);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: rgb(26, 26, 26);
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItems {
  /* background-color: red; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100%;
  min-height: 90vh;
  /* background-color: rgba(255, 0, 0, 0.345); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bracketView {
  min-width: 90vw;
  min-height: 20vh;
  border: 2px dotted rgba(255, 255, 255, 0.476);
  border-radius: 12px;
  padding: 10px;
}

.bracketGrid {
  display: grid;
  min-height: 20%;
  grid-template-columns: repeat(5, 18vw);
  grid-template-rows: repeat(11, 2vh);
  gap: 50px;
}

.match {
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 50% 50%;
  border: 2px solid white;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  align-items: center;
  /* justify-items: center; */
}

.bracketGrid p {
  padding: 0;
  margin: 0;
}

.team-1,
.team-2 {
  width: 95%;
  height: 100%;

  border-right: 1px solid white;
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-1 {
  border-radius: 10px 0 0 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid white;
}
.team-2 {
  border-radius: 0 0 0 10px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.match-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
.match-2 {
  grid-row: 4 / 6;
  grid-column: 1 / 2;
}
.match-3 {
  grid-row: 2 / 5;
  grid-column: 2 / 3;
}
.match-4 {
  grid-row: 7 / 9;
  grid-column: 1 / 2;
}
.match-5 {
  grid-row: 10 / 12;
  grid-column: 1 / 2;
}
.match-6 {
  grid-row: 7 / 9;
  grid-column: 2 / 3;
}
